{% extends "../layout.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Workspace  {{Workspace.Name}}</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title pull-left">
                    Repos
                </h3>
                <a href="/workspace/{{Workspace.ID}}/repository/new" class="btn btn-default pull-right">
                    New
                </a>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Source</th>
                                <th>FullName</th>
                                <th>PushedAt</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for repo in Repos %}
                            <tr>
                                <td>{{repo.Site}}</td>
                                <td>{{repo.FullName}}</td>
                                <td>{{repo.PushedAt}}</td>
                                <td>{{repo.StatusString()}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-default">
            <div class="panel-heading">

                <h3 class="panel-title pull-left">
                    Workflows
                </h3>
                <a href="/workspace/{{Workspace.ID}}/workflow/new" class="btn btn-default pull-right">
                    New
                </a>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Created</th>
                                <th>Webhook URl</th>
                                <th>Webhook Secret</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for workflow in Workflows %}
                            <tr>
                                <td>{{workflow.ID}}</td>
                                <td>{{workflow.Name}}</td>
                                <td>{{workflow.ConfigType}}</td>
                                <td>{{workflow.Created}}</td>
                                <td>{{workflow.GithubWebhookURL()}}</td>
                                <td>{{workflow.GithubWebhookSecret()}}</td>
                                <td><a href="/workflow/{{workflow.ID}}/run">RUN</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Builds
                </h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Type</th>
                                <th>Name</th>
                                <th>Created</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for build in Builds %}
                            <tr>
                                <td>{{build.BuildNo}}</td>
                                <td>{{build.Type}}</td>
                                <td>{{build.Name}}</td>
                                <td>{{build.Created}}</td>
                                <td>{{build.Status}}</td>
                                <td><a href="/build/{{build.ID}}">Status</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
