{% if Flash.SuccessMsg %}
<div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    {{ Flash.SuccessMsg }}
</div>
{% endif %}
{% if Flash.InfoMsg %}
<div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    {{ Flash.InfoMsg }}
</div>
{% endif %}
{% if Flash.WarningMsg %}
<div class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    {{ Flash.WarningMsg }}
</div>
{% endif %}
{% if Flash.ErrorMsg %}
<div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
 {{ Flash.ErrorMsg }}
</div>
{% endif %}
